<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body{
        background: url([[${backgroundImage}]]) no-repeat center center fixed;
    }
    .clock {
        margin: 0 0 auto;
        height: 100px;
        text-align: center;
    }
    .clock__word {
        font-size: 128px;
        color: #303030;
        background-color: rgba(255,255,255,0.3);
    }
</style>
<body>

<div class="clock">
    <p id="clock__word" class="clock__word"></p>
</div>

<script>
    function showClock1() {
        var nowTime = new Date();
        var nowHour = nowTime.getHours();
        var nowMin  = nowTime.getMinutes();
        var nowSec  = nowTime.getSeconds();
        var msg = nowHour + ":" + nowMin + ":" + nowSec;
        document.getElementById("clock__word").innerHTML = msg;
        if (nowSec === 0) window.location.reload();
    }
    setInterval('showClock1()',1000);
</script>

</body>
</html>